packages:
  yum:
    asgiref: [] 
    botocore: [] 
    cement: []
    certifi: [] 
    chardet: []
    colorama: []
    Django: []
    django-ckeditor: []
    django-crispy-forms: [] 
    django-environ: []
    django-js-asset: []
    docutils: [] 
    future: [] 
    gunicorn: [] 
    idna: []
    jmespath: [] 
    pathspec: []
    Pillow: []
    psycopg2: []
    psycopg2-binary: []
    pyasn1: []
    python-dateutil: []
    pytz: [] 
    PyYAML: []
    requests: [] 
    rsa: []
    s3transfer: []
    semantic-version: []
    six: [] 
    sqlparse: []
    termcolor: []
    urllib3: [] 
    wcwidth: []