<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand headfont" href="{% url 'home' %}">Little Blogs</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link headfont"
            aria-current="page"
            href="{% url 'home' %}"
            >Home</a
          >
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link headfont" href="{% url 'create' %}"
            >Write a Blog</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link headfont"
            href="javascript:{document.getElementById('logout').submit()}"
            >Logout</a
          >
          <form action="{% url 'accounts:logout' %}" method="POST" id="logout">
            {% csrf_token %}
            <input type="hidden" />
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link headfont" href="">Hi {{user.first_name|title }}</a>
        </li>
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link headfont" href="/admin/">Admin</a>
        </li>
        {% endif %}
        <!-- 1 -->
        {% else %}
        <li class="nav-item">
          <a class="nav-link headfont" href="{% url 'accounts:register' %}"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link headfont" href="{% url 'accounts:login' %}"
            >Login</a
          >
        </li>
        {% endif %}
      </ul>
      <form class="d-flex">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="search"
        />
        <button class="btn btn-outline-info" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
