{% extends "base.html" %}
<!-- 1 -->
{% load static %}
<!-- 1 -->
{% load crispy_forms_tags %}
<!-- 1 -->
{% block head_title %}Blog | {{ view_type|title }}{% endblock head_title %}
<!-- 1 -->
{% block content %}
<section id="blog_create-img">
  {% if user.is_authenticated %}
  <div class="container center-block-col">
    <div class="row my-4 d-flex justify-content-center">
      <div class="col-7 blog_create-bg tile-shadow">
        <h1 class="sfs headfont white mb-4">{{ view_type|title }} Blog</h1>
        <form
          action=""
          method="POST"
          class="aw text-wht"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <!-- 1 -->
          {{ form.media }}
          <!-- 1 -->
          {{ form|crispy}}
          <button
            type="submit"
            class="w-100 my-3 btn btn-grad border-dark headfont"
          >
            Post Blog
          </button>
        </form>
      </div>
    </div>
  </div>

  <!--If a user trys to edit or created a post with out being authenticated-->
  {% else %}
  <div class="container center-block-col">
    <div class="row my-4 d-flex justify-content-center">
      <div class="col-7 blog_create-bg tile-shadow">
        <h1 class="sfs headfont white mb-4">Please login</h1>
      </div>
    </div>
  </div>
  {% endif %}
</section>
{% endblock content %}
